@import '../../../Styles/Colors.scss';
@import '../../../Styles/Fonts.scss';
@import '../../../Styles/Formats.scss';

.Loading_Page{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $primary_color_dark;
}