@import '../../../Styles/Colors.scss';
@import '../../../Styles/Fonts.scss';
@import '../../../Styles/Formats.scss';

.Base_Input{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  input{
    position: relative;
    width: 100%;
    height: auto;
    background: none;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: $font_family_poppins;
    align-items: center;
    text-align: center;
    font-size: 13px;
  }
}

.Dark_Mode{

  .Base_Input {

    input{
      border: $border_dark;
      color: $gray;

      &.type1{
        background-color: $primary_color_dark;
      }

      &.type1{
        background-color: $secundary_color_dark;
      }
    }    
  }
}

.Light_Mode{

  .Base_Input {
    color: $black;

    input{
      border: $border_light;

      &.type1{
        background-color: $primary_color_light;
      }

      &.type2{
        background-color: $secundary_color_light;
      }
    }
  }
}