@import '../../../../Styles/Formats.scss';
@import '../../../../Styles/Colors.scss';
@import '../../../../Styles/Fonts.scss';

.Validations{
  @include Pages_Configs;
  height: 95vh;

  .Validations_Functions{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .Card{
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-radius: $border_radius;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      border: $border;

      span, a{
        font-family: $font_family_poppins;
        text-decoration: none;
        font-size: 15px;
      }

      a{

        span{
          color: $blue !important;
        }
      }
    }
  }
}

.Dark_Mode{

  .Validations{

    .Validations_Functions{

      .Card{
        background-color: $secundary_color_dark;
        box-shadow: $box_shadow_dark;
        
        span{
          color: $gray;
        }
      }
    }
  }
}

.Light_Mode{

  .Validations{

    .Validations_Functions{

      .Card{
        background-color: $secundary_color_light;
        box-shadow: $box_shadow_light;
        
        span{
          color: $gray_darker;
        }
      }
    }
  }
}
