@import '../../../Styles/Colors.scss';
@import '../../../Styles/Fonts.scss';

.Header_Home{
  position: fixed;
  width: 100%;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  box-sizing: border-box;

  .Left_Side{
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;

    span{
      font-family: $font_family_poppins;
      font-weight: 700;
    }
  }

  .Right_Side{
    position: relative;
    display: flex;
    gap: 10px;
  }
}

.Dark_Mode{

  .Header_Home{
    background-color: $primary_color_dark;

    .Left_Side{

      span{
        color: #f0b90b;
      }
    }
  }
}

.Light_Mode{

  .Header_Home{
    background-color: $primary_color_light;

    .Left_Side{

      span{
        color: #f0b90b;
      }
    }
  }
}