$primary_color_dark: #0b1727;

$secundary_color_dark: #121e2d;

$terciary_color_dark: #162231;

$gray: #9da9bb;

$black: #1e2329;

$white: #ffff;

$blue_light: #4695ff;
$blue: #3083f1;
$blue_dark: #062a57;
$blue_darker: #01224b;

$yellow: #f0b90b;
$yellow_light: #f0c60b;